<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unpam.jadwal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JadwalMHS</name>
    <description>Aplikasi Jadwal Kuliah</description>
    <author email="dev@unpam.ac.id">Ananda Anugrah</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="Orientation" value="portrait" />
    </platform>
</widget>
