<?xml version='1.0' encoding='utf-8'?>
<widget id="com.savarez.jadwal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jadwal Kuliah</name>
    <description>Aplikasi Jadwal Kuliah</description>
    <author email="dev@unpam.ac.id">Ananda Anugrah</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="Orientation" value="portrait" />
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.VIBRATE" />
        </config-file>
    </platform>

    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />

</widget>
